<!DOCTYPE html>
<html>
<head>
  <title>Contact Us</title>
</head>
<body>
  <div style="background-color: #f1f1f1; padding: 20px;">
    <h1 style="text-align: center; color: #333;">Contact Us</h1>
  </div>

  <div style="max-width: 800px; margin: 0 auto; padding: 20px;">
    <p> Welcome to Online Shop </p>
    <p> Contact </p>
    <p> Name of onwer Mr. Sanjay Singh</p>
    <p> Contact for query 1234567890 </p>
    <p> E-Mail ddlj@gmail.com </p>
  </div>
</body>
</html>
